<!DOCTYPE html>
<html>

<head>
  {% include "layout/head.html" %}
  <!-- datatables -->
  <link rel="stylesheet" href="/static/datatables/css/dataTables.bootstrap.min.css">
  <link rel="stylesheet" href="/static/datatables/css/select.bootstrap4.min.css">
  <title>Member</title>
</head>

<body class="hold-transition skin-blue fixed sidebar-mini">
  <!-- Site wrapper -->
  <div class="wrapper">

    {% include "layout/main-header.html" %}

    <!-- =============================================== -->

    <!-- Left side column. contains the sidebar -->
    {% include "layout/main-sidebar.html" %}

    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
            Laporan Triwulan
            <small>pencapaian triwulan ke - {{triwulan.nilai_parameter}}</small>
        </h1>
      </section>

      <!-- Main content -->
      <section class="content">

        <!-- Default box -->
        <div class="box">
          <div class="box-body">
            <table class="table table-striped">
                <tr>
                  <th style="width: 10px">No</th>
                  <th>Pangkal</th>
                  <th>L</th>
                  <th>P</th>
                </tr>
                <tr>
                  <td>1.</td>
                  <td>Update software</td>
                  <td>
                    <div class="progress progress-xs">
                      <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                    </div>
                  </td>
                  <td><span class="badge bg-red">55%</span></td>
                </tr>
                <tr>
                  <td>2.</td>
                  <td>Clean database</td>
                  <td>
                    <div class="progress progress-xs">
                      <div class="progress-bar progress-bar-yellow" style="width: 70%"></div>
                    </div>
                  </td>
                  <td><span class="badge bg-yellow">70%</span></td>
                </tr>
                <tr>
                  <td>3.</td>
                  <td>Cron job running</td>
                  <td>
                    <div class="progress progress-xs progress-striped active">
                      <div class="progress-bar progress-bar-primary" style="width: 30%"></div>
                    </div>
                  </td>
                  <td><span class="badge bg-light-blue">30%</span></td>
                </tr>
                <tr>
                  <td>4.</td>
                  <td>Fix and squish bugs</td>
                  <td>
                    <div class="progress progress-xs progress-striped active">
                      <div class="progress-bar progress-bar-success" style="width: 90%"></div>
                    </div>
                  </td>
                  <td><span class="badge bg-green">90%</span></td>
                </tr>
              </table>
          </div>
          <!-- /.box-body -->
          <div class="box-footer">

          </div>
          <!-- /.box-footer-->
        </div>
        <!-- /.box -->

      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    {% include "layout/main-footer.html" %}

    <!-- Control Sidebar -->
    {% include "layout/control-sidebar.html" %}
  </div>
  <!-- ./wrapper -->

  <!-- jQuery 3 -->
  {% include "layout/js.html" %}
  <!-- DataTables -->
  <script src="/static/AdminLTE-2.4.3/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="/static/AdminLTE-2.4.3/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
  <script src="/static/AdminLTE-2.4.3/bower_components/datatables.net/js/dataTables.select.js"></script>
  <script src="/static/AdminLTE-2.4.3/bower_components/datatables.net/js/dataTables.select.min.js"></script>
  <!-- page script -->
  <script src="/static/personalia/js/member.js"></script>
</body>

</html>
