<!DOCTYPE html>
<html>

<head>
  {% include "layout/head.html" %}
  <!-- datatables -->
  <link rel="stylesheet" href="/static/datatables/css/dataTables.bootstrap.min.css">
  <link rel="stylesheet" href="/static/datatables/css/select.bootstrap4.min.css">
  <title>Member</title>
</head>

<body class="hold-transition skin-blue fixed sidebar-mini">
  <!-- Site wrapper -->
  <div class="wrapper">

    {% include "layout/main-header.html" %}

    <!-- =============================================== -->

    <!-- Left side column. contains the sidebar -->
    {% include "layout/main-sidebar.html" %}

    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
            Member
            <small>informasi data member</small>
        </h1>
      </section>

      <!-- Main content -->
      <section class="content">

        <!-- Default box -->
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title"></h3>

            <div class="box-tools pull-right">
              <div class="btn-group">
                <button type="button" class="btn btn-success">Action</button>
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                <ul class="dropdown-menu" role="menu" id="actionmenu">
                  <li>
                    <a href="#">New</a>
                  </li>
                  <li>
                    <a href="#">Edit</a>
                  </li>
                  <li>
                    <a href="#">Delete</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="#">View</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="box-body">
            <div class="modal fade" id="modal-default">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <!-- general form elements -->
                  <div class="box box-primary">
                    <!-- form start -->
                    <form role="form" method="post" role="form">
                      {% csrf_token %}
                      <div class="box-header with-border">
                        <h3 class="modal-title">Member</h3>
                      </div>
                      <!-- /.box-header -->
                      <div class="box-body">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              {{ form.0.nama }}
                            </div>
                            <div class="form-group">
                              {{ form.0.tmpt_lahir }}
                            </div>
                            <div class="form-group">
                              {{ form.0.tgl_lahir }}
                            </div>
                            <div class="form-group">
                              {{ form.0.jk }}
                            </div>
                            <div class="form-group">
                              {{ form.0.alamat }}
                            </div>
                            <div class="form-group">
                              {{ form.0.alamat_desa }}
                            </div>
                            <div class="form-group">
                              {{ form.0.alamat_kec }}
                            </div>
                            <div class="form-group">
                              {{ form.0.alamat_kabkot }}
                            </div>
                            <div class="form-group">
                              {{ form.0.alamat_prov }}
                            </div>
                            <!-- /.form-group -->
                          </div>
                          <!-- /.col -->
                          <div class="col-md-6">
                            <div class="form-group">
                              {{ form.0.lulusan }}
                            </div>
                            <div class="form-group">
                              {{ form.0.hp }}
                            </div>
                            <div class="form-group">
                              {{ form.1.jenjang }}
                            </div>
                            <div class="form-group">
                              {{ form.1.tgl_daftar }}
                            </div>
                            <div class="form-group">
                              {{ form.1.status_aktif }}
                            </div>
                            <div class="form-group">
                              {{ form.1.segmentasi }}
                            </div>
                            <div class="form-group">
                              {{ form.1.pangkal }}
                            </div>
                            <div class="form-group">
                              <label>
                                {{ form.1.warga_media }} Warga media
                              </label>
                            </div>
                            <div class="form-group">
                              {{ form.1.keterangan }}
                            </div>
                            <!-- /.form-group -->
                          </div>
                          <!-- /.col -->
                        </div>
                        <!-- /.row -->
                      </div>
                      <!-- /.box-body -->

                      <div class="box-footer">
                        <div class="pull-right">
                          <button type="reset" id="btnreset" class="btn btn-danger">Reset</button>
                          <button type="submit" id="btnsave" class="btn btn-info">Save</button>
                          <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <!-- /.box -->
                </div>
                <!-- /.modal-content -->
              </div>
              <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            {% if messages %}
            <div class="alert alert-warning alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
              <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                  {% endfor %}
              </ul>
            </div>
            {% endif %}
            <table id="example1" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>No</th>
                  <th>ID</th>
                  <th>Nama Member</th>
                  <th>Tempat Lahir</th>
                  <th>Tanggal Lahir</th>
                  <th>Jenis Kelamin</th>
                  <th>Alamat</th>
                  <th>Alamat Desa</th>
                  <th>Alamat Kecamatan</th>
                  <th>Alamat Kab. / Kota</th>
                  <th>Alamat Provinsi</th>
                  <th>Lulusan</th>
                  <th>Telephone</th>
                  <th>Jenjang</th>
                  <th>Tanggal Daftar</th>
                  <th>Status Aktif</th>
                  <th>Segmentasi</th>
                  <th>Pangkal</th>
                  <th>Warga Media</th>
                  <th>Keterangan</th>
                </tr>
              </thead>
              <tbody>
                {% if member %} {% for m in member %}
                <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{m.individu.id}}</td>
                  <td>{{m.individu.nama|title}}</td>
                  <td>{{m.individu.tmpt_lahir|title}}</td>
                  <td>{{m.individu.tgl_lahir|date:'m/d/Y'}}</td>
                  <td>{{m.individu.get_jk_display}}</td>
                  <td>{{m.individu.alamat|title}}</td>
                  <td>{{m.individu.alamat_desa|title}}</td>
                  <td>{{m.individu.alamat_kec|title}}</td>
                  <td>{{m.individu.alamat_kabkot|title}}</td>
                  <td>{{m.individu.alamat_prov|title}}</td>
                  <td>{{m.individu.get_lulusan_display}}</td>
                  <td>{{m.individu.hp}}</td>
                  <td>{{m.get_jenjang_display}}</td>
                  <td>{{m.tgl_daftar|date:'m/d/Y'}}</td>
                  <td>{{m.get_status_aktif_display}}</td>
                  <td>{{m.get_segmentasi_display}}</td>
                  <td>{{m.pangkal|title}}</td>
                  <td>{{m.warga_media}}</td>
                  <td>{{m.keterangan|title}}</td>
                </tr>
                {% endfor %} {% endif %}
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
          <div class="box-footer">

          </div>
          <!-- /.box-footer-->
        </div>
        <!-- /.box -->

      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    {% include "layout/main-footer.html" %}

    <!-- Control Sidebar -->
    {% include "layout/control-sidebar.html" %}
  </div>
  <!-- ./wrapper -->

  <!-- jQuery 3 -->
  {% include "layout/js.html" %}
  <!-- DataTables -->
  <script src="/static/AdminLTE-2.4.3/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="/static/AdminLTE-2.4.3/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
  <script src="/static/AdminLTE-2.4.3/bower_components/datatables.net/js/dataTables.select.js"></script>
  <script src="/static/AdminLTE-2.4.3/bower_components/datatables.net/js/dataTables.select.min.js"></script>
  <!-- page script -->
  <script src="/static/personalia/js/member.js"></script>
</body>

</html>
